# Import

In [1]:
import wagen.caltopo_io as cti
import wagen.timeline as tl
import pandas as pd
from pprint import pp
import datetime as dt
from IPython.display import Markdown

# MVP 
From CalTopo CSV to Backpacking Artifacts (hardcopy and phone)

In [2]:
df, trip = cti.travelplan_multi_csv(csvfname='~/Downloads/travelplan.NewHance.csv')
verbose=True
sum_cols = ['aeg', 'ael', 'distance', 'break_time'] 
seg_pace = { # in minutes per mile
    'DEFAULT': 60, #20,
    'New Hance': 30,
    #'Tonto': 60,
    'Tonto 2': 20,
    #'Up W arm': 60,
    #'West arm option OB': 60,
    #'GV tr': 60,
    'up GV': 30,
}

if verbose:
    display(df.round(2))
    display(trip)

    # Summary by Day
    day_total = df.groupby('day').agg({c:'sum' for c in sum_cols})
    print('DAY Summary')
    display(day_total.round(2))

    # Summary by Segment
    seg_df = df.groupby('segment', sort=False).agg({c:'sum' for c in sum_cols})
    print('SEGMENT Summary')
    display(seg_df.round(2))

Wrote Excel version of dataframe to ~/Downloads/travelplan.NewHance.xlsx

,day,segment,waypoint,elevation,aeg,ael,distance,notes,break_time
0,1,New Hance,Start,7021,0,0,0.00,,0
1,1,New Hance,New Hance TH,7026,5,0,0.04,,0
2,1,New Hance,VP,5045,251,-2233,2.10,,0
3,1,New Hance,Flowing water,3330,19,-1734,1.66,,0
4,1,New Hance,hike drainage,3249,0,-82,0.10,Red Canyon,0
5,1,New Hance,water,2606,0,-644,1.52,,30
6,1,New Hance,End,2595,0,-11,0.03,,0
7,1,Tonto,Start,2594,0,0,0.00,,0
8,1,Tonto,snack,3436,941,-100,2.24,,20
9,1,Tonto,camp,3698,596,-333,3.46,,0
10,1,Tonto,End,3711,14,0,0.02,,0
11,1,Tonto,EOD,3711,0,0,0.00,,0
12,2,Tonto 2,Start,3714,0,0,0.00,,0
13,2,Tonto 2,view2,3714,0,0,0.04,,0
14,2,Tonto 2,End,3908,408,-215,3.31,,0
15,2,Up W arm,Start,3921,0,0,0.00,,0
16,2,Up W arm,End,4848,927,0,0.55,,0
17,2,West arm option OB,Start,4857,0,0,0.00,,0
18,2,West arm option OB,West arm point,4904,78,-31,0.29,,0
19,2,West arm option OB,End,4857,42,-89,0.41,,0
20,2,GV tr,Start,4862,0,0,0.00,,0
21,2,GV tr,End,4885,104,-80,0.93,,0
22,2,up GV,Start,4885,0,0,0.00,,0
23,2,up GV,car,7422,2545,-8,2.45,,0
24,2,up GV,End,7428,6,0,0.04,,0
25,2,up GV,EOD,7428,0,0,0.00,,0

{'start_latlon': [35.99075, -111.93578], 'start_elevation': 7021}

DAY Summary

      aeg   ael  distance  break_time
day
1    1826 -5137     11.17          50
2    4110  -423      8.01           0

SEGMENT Summary

                     aeg   ael  distance  break_time
segment
New Hance            275 -4704      5.45          30
Tonto               1551  -433      5.72          20
Tonto 2              408  -215      3.35           0
Up W arm             927     0      0.55           0
West arm option OB   120  -120      0.70           0
GV tr                104   -80      0.93           0
up GV               2551    -8      2.49           0

In [3]:
df

,day,segment,waypoint,elevation,aeg,ael,distance,notes,break_time
0,1,New Hance,Start,7021,0,0,0.000000,,0
1,1,New Hance,New Hance TH,7026,5,0,0.036932,,0
2,1,New Hance,VP,5045,251,-2233,2.100000,,0
3,1,New Hance,Flowing water,3330,19,-1734,1.660000,,0
4,1,New Hance,hike drainage,3249,0,-82,0.104167,Red Canyon,0
5,1,New Hance,water,2606,0,-644,1.520000,,30
6,1,New Hance,End,2595,0,-11,0.029924,,0
7,1,Tonto,Start,2594,0,0,0.000000,,0
8,1,Tonto,snack,3436,941,-100,2.240000,,20
9,1,Tonto,camp,3698,596,-333,3.460000,,0
10,1,Tonto,End,3711,14,0,0.022917,,0
11,1,Tonto,EOD,3711,0,0,0.000000,,0
12,2,Tonto 2,Start,3714,0,0,0.000000,,0
13,2,Tonto 2,view2,3714,0,0,0.037689,,0
14,2,Tonto 2,End,3908,408,-215,3.310000,,0
15,2,Up W arm,Start,3921,0,0,0.000000,,0
16,2,Up W arm,End,4848,927,0,0.550000,,0
17,2,West arm option OB,Start,4857,0,0,0.000000,,0
18,2,West arm option OB,West arm point,4904,78,-31,0.291667,,0
19,2,West arm option OB,End,4857,42,-89,0.409848,,0
20,2,GV tr,Start,4862,0,0,0.000000,,0
21,2,GV tr,End,4885,104,-80,0.930000,,0
22,2,up GV,Start,4885,0,0,0.000000,,0
23,2,up GV,car,7422,2545,-8,2.450000,,0
24,2,up GV,End,7428,6,0,0.035606,,0
25,2,up GV,EOD,7428,0,0,0.000000,,0

In [4]:
display(df)
default_pace = seg_pace.get('DEFAULT', 60)
p_df = df.assign(
    pace=df['segment'].map(lambda r: seg_pace.get(r, default_pace)),
    minutes=lambda r: r['distance'] * r['pace'],
    ).drop(columns=['waypoint'])

agg_cols = {
    'day':'last',
    'segment':'last',
    'distance':'sum',
    'aeg':'sum',
    'ael':'sum',
    'break_time':'sum',
    'pace':'last',
    'minutes':'sum',}
#display('p_df', p_df)

day_df = p_df.groupby('day').agg(agg_cols)
#display('day_df', day_df)
p_df
seg_df = p_df.groupby('segment', sort=False).agg(agg_cols)
seg_df
predicted_df = seg_df.assign(
    cs_dist=seg_df.groupby('day')[['distance']].cumsum(),
    cs_mins=seg_df.groupby('day')[['minutes']].cumsum(),
    day_dist=seg_df['day'].map(lambda d: day_df.loc[d ,'distance']),
    rem_dist=lambda r: r['day_dist'] - r['cs_dist'],
    day_mins=seg_df['day'].map(lambda d: day_df.loc[d ,'minutes']),
    rem_mins=lambda r: r['day_mins'] - r['cs_mins'],
)
display('predicted_df', predicted_df)

,day,segment,waypoint,elevation,aeg,ael,distance,notes,break_time
0,1,New Hance,Start,7021,0,0,0.000000,,0
1,1,New Hance,New Hance TH,7026,5,0,0.036932,,0
2,1,New Hance,VP,5045,251,-2233,2.100000,,0
3,1,New Hance,Flowing water,3330,19,-1734,1.660000,,0
4,1,New Hance,hike drainage,3249,0,-82,0.104167,Red Canyon,0
5,1,New Hance,water,2606,0,-644,1.520000,,30
6,1,New Hance,End,2595,0,-11,0.029924,,0
7,1,Tonto,Start,2594,0,0,0.000000,,0
8,1,Tonto,snack,3436,941,-100,2.240000,,20
9,1,Tonto,camp,3698,596,-333,3.460000,,0
10,1,Tonto,End,3711,14,0,0.022917,,0
11,1,Tonto,EOD,3711,0,0,0.000000,,0
12,2,Tonto 2,Start,3714,0,0,0.000000,,0
13,2,Tonto 2,view2,3714,0,0,0.037689,,0
14,2,Tonto 2,End,3908,408,-215,3.310000,,0
15,2,Up W arm,Start,3921,0,0,0.000000,,0
16,2,Up W arm,End,4848,927,0,0.550000,,0
17,2,West arm option OB,Start,4857,0,0,0.000000,,0
18,2,West arm option OB,West arm point,4904,78,-31,0.291667,,0
19,2,West arm option OB,End,4857,42,-89,0.409848,,0
20,2,GV tr,Start,4862,0,0,0.000000,,0
21,2,GV tr,End,4885,104,-80,0.930000,,0
22,2,up GV,Start,4885,0,0,0.000000,,0
23,2,up GV,car,7422,2545,-8,2.450000,,0
24,2,up GV,End,7428,6,0,0.035606,,0
25,2,up GV,EOD,7428,0,0,0.000000,,0

'predicted_df'

,day,segment,distance,aeg,ael,break_time,pace,minutes,cs_dist,cs_mins,day_dist,rem_dist,day_mins,rem_mins
segment,,,,,,,,,,,,,,
New Hance,1,New Hance,5.451023,275,-4704,30,30,163.530682,5.451023,163.530682,11.173939,5.722917,506.905682,3.433750e+02
Tonto,1,Tonto,5.722917,1551,-433,20,60,343.375000,11.173939,506.905682,11.173939,0.000000,506.905682,0.000000e+00
Tonto 2,2,Tonto 2,3.347689,408,-215,0,20,66.953788,3.347689,66.953788,8.014811,4.667121,272.412879,2.054591e+02
Up W arm,2,Up W arm,0.550000,927,0,0,60,33.000000,3.897689,99.953788,8.014811,4.117121,272.412879,1.724591e+02
West arm option OB,2,West arm option OB,0.701515,120,-120,0,60,42.090909,4.599205,142.044697,8.014811,3.415606,272.412879,1.303682e+02
GV tr,2,GV tr,0.930000,104,-80,0,60,55.800000,5.529205,197.844697,8.014811,2.485606,272.412879,7.456818e+01
up GV,2,up GV,2.485606,2551,-8,0,30,74.568182,8.014811,272.412879,8.014811,0.000000,272.412879,5.684342e-14

In [5]:
# columns: day, segment, waypoint, elevation, aeg, ael, distance, notes, break_time, pace, minutes
seg_df = tl.apply_seg_paces(df, seg_pace) 
display(seg_df.round(1))

,day,segment,distance,aeg,ael,break_time,pace,minutes,cs_dist,cs_mins,day_dist,rem_dist,day_mins,rem_mins
segment,,,,,,,,,,,,,,
New Hance,1,New Hance,5.5,275,-4704,30,30,163.5,5.5,163.5,11.2,5.7,506.9,343.4
Tonto,1,Tonto,5.7,1551,-433,20,60,343.4,11.2,506.9,11.2,0.0,506.9,0.0
Tonto 2,2,Tonto 2,3.3,408,-215,0,20,67.0,3.3,67.0,8.0,4.7,272.4,205.5
Up W arm,2,Up W arm,0.6,927,0,0,60,33.0,3.9,100.0,8.0,4.1,272.4,172.5
West arm option OB,2,West arm option OB,0.7,120,-120,0,60,42.1,4.6,142.0,8.0,3.4,272.4,130.4
GV tr,2,GV tr,0.9,104,-80,0,60,55.8,5.5,197.8,8.0,2.5,272.4,74.6
up GV,2,up GV,2.5,2551,-8,0,30,74.6,8.0,272.4,8.0,0.0,272.4,0.0

## Artifacts

In [6]:
table, seg_df, ua = tl.gen_artifacts('~/Downloads/travelplan.NewHance.csv', 
                                     daylight=11.5, 
                                     adjust='pace', # adjust = pace|ratio
                                     )

Wrote Excel version of dataframe to ~/Downloads/travelplan.NewHance.xlsx

Trip Segments: ['New Hance', 'Tonto', 'Tonto 2', 'Up W arm', 'West arm option OB', 'GV tr', 'up GV']

/tmp/ipykernel_3229532/1043766118.py:1: UserWarning: No paces given for segments (seg_paces). Using paces from CSV file (or default_pace=60 minutes/mile if not available).
  table, seg_df, ua = tl.gen_artifacts('~/Downloads/travelplan.NewHance.csv',

Day=1 Segment='New Hance' Distance=5.5
PREDICTED SEGMENT: Pace=60 Hours=5.5
PREDICTED PROGRESS: Start to Here/Day (%)
  Distance:   5.5 /  11.2 (49%); (miles)
  Time:      5.50 / 11.25 (49%); (hours) Originaly Predicted

Day=1 Segment='Tonto' Distance=5.7
PREDICTED SEGMENT: Pace=60 Hours=5.75
PREDICTED PROGRESS: Start to Here/Day (%)
  Distance:  11.2 /  11.2 (100%); (miles)
  Time:     11.25 / 11.25 (100%); (hours) Originaly Predicted
No table output for LAST SEGEMENT of the day. You are done so there is nothing to predict!

Day=2 Segment='Tonto 2' Distance=3.3
PREDICTED SEGMENT: Pace=60 Hours=3.25
PREDICTED PROGRESS: Start to Here/Day (%)
  Distance:   3.3 /   8.0 (41%); (miles)
  Time:      3.25 /  8.00 (41%); (hours) Originaly Predicted

Day=2 Segment='Up W arm' Distance=0.6
PREDICTED SEGMENT: Pace=60 Hours=0.5
PREDICTED PROGRESS: Start to Here/Day (%)
  Distance:   3.9 /   8.0 (49%); (miles)
  Time:      4.00 /  8.00 (50%); (hours) Originaly Predicted

Day=2 Segment='West arm option OB' Distance=0.7
PREDICTED SEGMENT: Pace=60 Hours=0.75
PREDICTED PROGRESS: Start to Here/Day (%)
  Distance:   4.6 /   8.0 (57%); (miles)
  Time:      4.50 /  8.00 (56%); (hours) Originaly Predicted

Day=2 Segment='GV tr' Distance=0.9
PREDICTED SEGMENT: Pace=60 Hours=1.0
PREDICTED PROGRESS: Start to Here/Day (%)
  Distance:   5.5 /   8.0 (69%); (miles)
  Time:      5.50 /  8.00 (69%); (hours) Originaly Predicted

Day=2 Segment='up GV' Distance=2.5
PREDICTED SEGMENT: Pace=60 Hours=2.5
PREDICTED PROGRESS: Start to Here/Day (%)
  Distance:   8.0 /   8.0 (100%); (miles)
  Time:      8.00 /  8.00 (100%); (hours) Originaly Predicted
No table output for LAST SEGEMENT of the day. You are done so there is nothing to predict!

ValueError: not enough values to unpack (expected 3, got 2)

In [ ]:
seg_df

In [ ]:
segds_df = seg_df.set_index(['day', 'segment'])

In [ ]:
seg_lut = {name:day for (day,name) in segds_df.index}
seg_lut

In [ ]:
seg_lut['GV tr']

In [ ]:
seg_df.reset_index().style.hide(axis="index")
seg_df.round(1)
#seg_df

# Include my Pace Estimates

In [ ]:
inc_cols = ['day', 'segment', 'waypoint', 'distance']
seg_pace = { # in minutes per mile
    'DEFAULT': 60, #20,
    'New Hance': 30,
    #'Tonto': 60,
    'Tonto 2': 20,
    #'Up W arm': 60,
    #'West arm option OB': 60,
    #'GV tr': 60,
    'up GV': 30,
}

pred_df = tl.apply_seg_paces(df, seg_pace)
pred_df = pred_df.assign(cs_dist=pred_df.groupby('day')[['distance']].cumsum(),
                         cs_mins=pred_df.groupby('day')[['minutes']].cumsum(),
                         )
pred_df.round(1) # PREDicted leg duration

In [ ]:
sum_cols = ['distance','minutes']
# Summary by Segment
seg_total = pred_df.groupby('segment', sort=False).agg({c:'sum' for c in sum_cols})
seg_total.loc['Total'] = seg_total[sum_cols].sum()
print('SEGMENTS')
display(seg_total.round(2))

# Summary by Day
sum_cols = ['distance','minutes']   # 'cs_dist','cs_mins']
day_total = pred_df.groupby('day').agg({c:'sum' for c in sum_cols})
day_total.loc['Total'] = day_total[sum_cols].sum()
print('DAYS')
display(day_total.round(2))
display(day_total.loc[2,'distance'])

In [ ]:
cols = ['day', 'segment', 'waypoint', 'distance', 'pace', 'minutes', 'cs_dist', 'cs_mins', 'day_dist', 'rem_dist', 'day_mins', 'rem_mins']
pred2_df = pred_df.assign(day_dist=pred_df['day'].map(lambda d: day_total.loc[d ,'distance']),
               rem_dist=lambda r: r['day_dist'] - r['cs_dist'],
               day_mins=pred_df['day'].map(lambda d: day_total.loc[d ,'minutes']),
               rem_mins=lambda r: r['day_mins'] - r['cs_mins'],
               )
pred2_df

In [ ]:
agg_cols = {
    'day':'last', 
    'distance':'sum', 
    'pace':'last',
    'minutes':'sum', 
    'cs_dist':'last',	
    'cs_mins':'last',
    'day_dist':'last',
    'rem_dist':'last',
    'day_mins':'last',
    'rem_mins':'last',
}
seg_df = pred2_df.drop(['waypoint'],axis=1).groupby('segment', sort=False).agg(agg_cols)
display(seg_df)

## Adapt to error in prediction
NOW: **Imagine that we finished 'New Hance' with ACTUAL time of 330 minutes** (5.5 hours)

That would cause us to finish the day much later even if the rest of our predictions for the day remain accurate. But it could be that our first segment was slow because we are generally more tired than expected in which case the remainder of the day might "just as slow". 

I can think of several ways of recalculating the deviation of time to camp:
1. Keep the remainer of our pace predictions the same as they were
2. Multiply the paces for the remainder times a GIVEN factor. (GIVEN might be chosen from pre-calculated values)
3. Use the same average precentage change in pace predictions for remainder as we have seen up to this point
4. Use #3 times a fudge factor

In [ ]:
seg = 'New Hance' # we finished this Segment
act_here_mins = 330
pred_here_mins = seg_df.loc['New Hance','cs_mins']
pred_day_mins = seg_df.loc['New Hance','day_mins']
pred_rem_mins = seg_df.loc['New Hance','rem_mins']
pre = act_here_mins
pred_post = pred_day_mins - pred_here_mins
ua = tl.UpdateArrival(seg_df, seg)

display(eval(f'dict({ua.__repr__()})'))

print(f'Method 1: {ua.multiply_future(factor=1)} ')
print(f'Method 2: {ua.multiply_future(1.5)} ')
print(f'Method 3: {ua.future_as_previous(fudge=1)} ')
print(f'Method 4: {ua.future_as_previous(0.9)} ')
fap = ua.future_as_previous(1, act_here_mins)
print(f'Method 4: {fap} {fap/60:.1f} (hours) ')
print(f'{act_here_mins=} act_here_hrs={act_here_mins/60:.1f} '
      f'{pred_here_mins=:.0f} pred_here_hrs={pred_here_mins/60:.1f}'
      f'{act_here_mins/pred_here_mins:.0f} {pred_rem_mins=:.0f} {pre=} {pred_post=:.0f} ')
print()

# unchanged_future()
method = 'Method 1'
new_day_mins = pre + pred_post
print(f'{method}: Minutes to camp changed from {pred_day_mins=:.0f} to {new_day_mins=:.0f} ({pred_day_mins/60:.1f} to {new_day_mins/60:.1f}) ')

# multiply_future()
method = 'Method 2'
factor = 1.5
new_day_mins = pre + pred_post * factor
print(f'{method}: Minutes to camp changed from {pred_day_mins=:.0f} to {new_day_mins=:.0f} ({pred_day_mins/60:.1f} to {new_day_mins/60:.1f}) ')

# future_adjusted_like_previous()
method = 'Method 3'
factor = act_here_mins / pred_here_mins
new_day_mins = pre + pred_post * factor
print(f'{method}: Minutes to camp changed from {pred_day_mins=:.0f} to {new_day_mins=:.0f} ({pred_day_mins/60:.1f} to {new_day_mins/60:.1f}) ')

# future_like_previous_multiplied()
method = 'Method 4'
fudge = 0.9
factor = act_here_mins / pred_here_mins
new_day_mins = pre + pred_post * factor * fudge
print(f'{method}: Minutes to camp changed from {pred_day_mins=:.0f} to {new_day_mins=:.0f} new_day_hrs={new_day_mins/60:.1f} '
      f'({pred_day_mins/60:.1f} to {new_day_mins/60:.1f}) ')

In [ ]:
seg_df

In [ ]:
new_hours, here_factor = ua.future_deviations(act_here_mins)
print(f'new_day_hours={[round(h, 1) for h in new_hours]} {here_factor=:.1f}')

In [ ]:
ua.pred_day_mins, float(ua.pred_day_mins/60)

### Deviation Table

In [ ]:
# Sanity checks

print('Given this: ', end='')
display(eval(f'dict({ua.__repr__()})'))

# If actual matches predicted (to here) then day hours then our new_day_mins should match pred_day_mins
assert ua.pred_day_mins == ua.multiply_future(factor=1, actual_here_mins=ua.pred_here_mins)
assert ua.pred_day_mins == ua.future_as_previous(fudge=1, actual_here_mins=ua.pred_here_mins)

In [ ]:
ua.multiply_future(1)

### Table for wilderness (non-phone) use|
Lookup row with nearest actual hours hiked to end of current segment (here_hours).  Adjust average pace of remaining day of hiking by percentage in column header (100% means the same actual/predict ratio that we observed upto here.)  To create a table that does NOT modify the pace of the day remaining, use adjust=None.

In [ ]:
# Table for wilderness (non-phone) use
print(f'Lookup using our Original HERE predict hours = {ua.pred_here_mins/60:.1f} (2.7 => 8.45 Predict day hours) ')
print(f'OR, Lookup using our act_here_hrs = {act_here_mins/60:.1f} (5.5 => 17.0 Predict day hours) ')
adjust='ratio'
display(Markdown(f'#### Predicted day total hours; {adjust=} '))
display(ua.arrive_table(adjust='ratio').set_index('here_hours').round(1))

adjust='pace'
display(Markdown(f'#### Predicted day total hours; {adjust=}'))
display(ua.arrive_table(adjust='pace').set_index('here_hours').round(1))

In [ ]:
seg_df.reset_index().set_index(['segment', 'day'])

# Possibly OBSOLETE

In [ ]:
tl.predict_clock_time(pred_df)

# Timeline

In [ ]:
cfg = dict(
    start_time=dt.datetime.fromisoformat('2025-04-20'),
    morning_daylight=1.5,
    evening_daylight=2.0,
    include_dt=False)

df, meta = tl.trip_timeline(csvfname='~/Downloads/travelplan.NewHance.csv', **cfg)

display(df.round(2))
display(meta)

# APE Timeline

In [ ]:
seg_pace = { # in minutes per mile
    'DEFAULT': 60, #20,
    'New Hance': 30,
    'Tonto 2': 20,
    'Up W arm': 60,
    'up GV': 30,
}
out_cols = ['day', 'segment', 'waypoint', 'distance',
                   'break_time', 'move_time',
                   'date', 'time',
                   'pace',
                   #'dt'
                   ]
tldf, eods = tl.ape_timeline(pred_df, seg_pace, start_time='06:30')
display(tldf.round(1)[out_cols])
display(eods)

In [ ]:
tldf[['distance', 'break_time', 'move_time']].sum(numeric_only=True)

tldf['minutes'] = tldf['break_time'] + tldf['move_time']
tldf

tldf['rt_minutes'] = tldf['minutes'].cumsum()
tldf.round(2)

tldf['end_time'] = tldf.apply(lambda r: r['dt'] + pd.Timedelta(minutes=r['rt_minutes']), axis=1)
tldf

pd.pivot_table(tldf, index=['segment'], columns='day', values=['minutes'], aggfunc="sum")/60

pd.pivot_table(tldf, index=['segment'], columns='day', values=['distance', 'move_time'], aggfunc="sum").round(2)

print(list(set(tldf['segment'])))

segs = ['New Hance', 'Tonto', 'Tonto 2', 'Up W arm', 'West arm option OB', 'GV tr', 'up GV']

pd.pivot_table(tldf, index=['segment'], columns=['day'], values=['move_time','distance'], aggfunc="sum").reindex(index=segs)

In [ ]:
seg_df = pd.pivot_table(tldf, index=['segment'], columns=['day'], values=['move_time','distance'], aggfunc="sum")
seg_df.loc['Total'] = seg_df.sum(numeric_only=True)
seg_df.round(2)

In [ ]:
total_row = df.sum(numeric_only=True)
# Add the total row to the DataFrame
df.loc['Total'] = total_row

In [ ]:
out_columns = ['day', 'segment', 'waypoint', 'distance',
                   'break_time', 'move_time',
                   'date', 'time',
                   'pace',
                   #'dt'
                   ]
tldf[out_columns]