In [1]:
import wapgen.caltopo_io as cti
import wapgen.timeline as tl
import pandas as pd
from pprint import pp
import datetime as dt

# Escalante Route
Down Tanner, up New Hance. Main obstacles are Papago wall (class 3) and Papago slide (i.e. "gully"

## Waypoints

In [16]:
df, trip = cti.travelplan_multi_csv(csvfname='~/Downloads/travelplan.GC-Escalante.csv')
print(trip)
with pd.option_context("display.max_columns", None):
    display(df.round(1))

Wrote Excel version of dataframe to ~/Downloads/travelplan.GC-Escalante.xsl
{'start_latlon': [35.99072, -111.9358], 'start_elevation': 7021, 'elapsed_hours': 10.483333333333333}

,day,segment,waypoint,trip_leg,elevation,aeg,ael,distance,duration,break_minutes,elapsed,notes,hours,pace
0,1,Tanner,Start,1,7350,0,0,0.0,0,0,0,,0.0,0
1,1,Tanner,picture view points,2,5217,333,-2466,3.6,151,30,151,,3.0,42
2,1,d-1b,Start,3,2687,0,0,0.0,0,0,151,,0.0,0
3,1,d-1b,overlook,4,2685,68,-70,0.6,16,0,167,Basalt ck riffle,0.3,24
4,1,d-1b,water,5,2646,124,-163,1.9,41,0,208,,0.7,21
5,1,d-1b,EOD,EOD1,2642,0,0,0.0,0,0,208,,0.0,0
6,1,d-1b,camp,6,2642,0,-3,0.0,0,0,208,day 1,0.0,0
7,2,d-2a,Start,7,2641,0,0,0.0,0,0,208,,0.0,0
8,2,d-2a,cliff,8,3752,1188,-78,2.8,113,0,321,,1.9,40
9,2,d-2a,water,9,2615,311,-1447,2.7,106,20,427,,2.1,39
10,2,d-2a,Seventfive Mile Creek,10,2838,291,-69,0.8,31,0,458,,0.5,37
11,2,d-2a,water,11,2614,29,-252,0.6,18,0,476,,0.3,32
12,2,d-2a,Papago wall,12,2650,203,-168,0.8,28,0,504,,0.5,37
13,2,d-2a,Papago slide,13,2798,153,-5,0.1,10,25,514,,0.6,89
14,2,d-2a,water,14,2591,100,-307,0.7,25,0,539,,0.4,36
15,2,d-2a,EOD,EOD2,2569,0,0,0.0,0,0,541,,0.0,0
16,2,d-2a,camp,15,2569,0,-22,0.1,2,0,541,day 2,0.0,25
17,3,d-3,Start,16,2591,0,0,0.0,0,0,541,,0.0,0
18,3,d-3,"water, maybe",17,3238,648,0,1.6,63,0,604,,1.0,40
19,3,TH to Car,Start,18,7021,0,0,0.0,0,0,604,,0.0,0
20,3,TH to Car,EOD,EOD3,7156,0,0,0.0,0,0,629,,0.0,0
21,3,TH to Car,car,19,7156,135,0,1.2,25,0,629,,0.4,20

In [3]:
pd.DataFrame(trip)

   start_latlon  start_elevation  elapsed_hours
0      35.99072             7021      17.483333
1    -111.93580             7021      17.483333

## Timeline

In [30]:
times_df, meta = tl.timeline(df, trip, start_time=dt.datetime.fromisoformat('2025-09-23 06:40'),min_camp_daylight=2)
display(trip)
display(meta)
with pd.option_context("display.max_columns", None):
    display(times_df.round(1))

{'start_latlon': [35.99072, -111.9358],
 'start_elevation': 7021,
 'elapsed_hours': 10.483333333333333}

{'first_date': '2025-09-23',
 'day_start_time': '06:40',
 'sunrise': '2025-09-24T06:16:26-07:00',
 'sunset': '2025-09-23T18:24:09-07:00',
 'start_latlon': [35.99072, -111.9358],
 'start_elevation': 7021,
 'min_camp_daylight': 2,
 'tzid': 'America/Phoenix'}

                 Alert  Day               Waypoint  Distance (miles)  \
Date       Time
2025-09-23 06:40          1                  Start               0.0
           09:41          1    picture view points               3.6
                          1                  Start               0.0
           09:57          1               overlook               0.6
           10:38          1                  water               1.9
                          1                    EOD               0.0
                          1                   camp               0.0
2025-09-24 06:40          2                  Start               0.0
           08:33          2                  cliff               2.8
           10:39          2                  water               2.7
           11:10          2  Seventfive Mile Creek               0.8
           11:28          2                  water               0.6
           11:56          2            Papago wall               0.8
           12:31          2           Papago slide               0.1
           12:56          2                  water               0.7
                          2                    EOD               0.0
           12:58          2                   camp               0.1
2025-09-25 06:40          3                  Start               0.0
           07:43          3           water, maybe               1.6
                          3                  Start               0.0
                          3                    EOD               0.0
           08:08          3                    car               1.2

                  AEG (ft)  AEL (ft)  Day Travel Time (hrs)  \
Date       Time
2025-09-23 06:40         0         0                    0.0
           09:41       333     -2466                    3.0
                         0         0                    3.0
           09:57        68       -70                    3.3
           10:38       124      -163                    4.0
                         0         0                    4.0
                         0        -3                    4.0
2025-09-24 06:40         0         0                    0.0
           08:33      1188       -78                    1.9
           10:39       311     -1447                    4.0
           11:10       291       -69                    4.5
           11:28        29      -252                    4.8
           11:56       203      -168                    5.3
           12:31       153        -5                    5.8
           12:56       100      -307                    6.3
                         0         0                    6.3
           12:58         0       -22                    6.3
2025-09-25 06:40         0         0                    0.0
           07:43       648         0                    1.0
                         0         0                    1.0
                         0         0                    1.0
           08:08       135         0                    1.5

                  Leg Travel Time (mins)  Leg Break (mins)  Elapsed  \
Date       Time
2025-09-23 06:40                       0                 0        0
           09:41                     151                30      151
                                       0                 0      151
           09:57                      16                 0      167
           10:38                      41                 0      208
                                       0                 0      208
                                       0                 0      208
2025-09-24 06:40                       0                 0      208
           08:33                     113                 0      321
           10:39                     106                20      427
           11:10                      31                 0      458
           11:28                      18                 0      476
           11:56                      28                 0      504
           12:31                      10                25      514
           12:56                      25                 0      539
                                       0                 0      541
           12:58                       2                 0      541
2025-09-25 06:40                       0                 0      541
           07:43                      63                 0      604
                                       0                 0      604
                                       0                 0      629
           08:08                      25                 0      629

                  Elevation  Hours  Pace (mins/mi)                        Dt
Date       Time
2025-09-23 06:40       7350    0.0               0 2025-09-23 06:40:00-07:00
           09:41       5217    3.0              42 2025-09-23 09:41:00-07:00
                       2687    0.0               0 2025-09-23 09:41:00-07:00
           09:57       2685    0.3              24 2025-09-23 09:57:00-07:00
           10:38       2646    0.7              21 2025-09-23 10:38:00-07:00
                       2642    0.0               0 2025-09-23 10:38:00-07:00
                       2642    0.0               0 2025-09-23 10:38:00-07:00
2025-09-24 06:40       2641    0.0               0 2025-09-24 06:40:00-07:00
           08:33       3752    1.9              40 2025-09-24 08:33:00-07:00
           10:39       2615    2.1              39 2025-09-24 10:39:00-07:00
           11:10       2838    0.5              37 2025-09-24 11:10:00-07:00
           11:28       2614    0.3              32 2025-09-24 11:28:00-07:00
           11:56       2650    0.5              37 2025-09-24 11:56:00-07:00
           12:31       2798    0.6              89 2025-09-24 12:31:00-07:00
           12:56       2591    0.4              36 2025-09-24 12:56:00-07:00
                       2569    0.0               0 2025-09-24 12:56:00-07:00
           12:58       2569    0.0              25 2025-09-24 12:58:00-07:00
2025-09-25 06:40       2591    0.0               0 2025-09-25 06:40:00-07:00
           07:43       3238    1.0              40 2025-09-25 07:43:00-07:00
                       7021    0.0               0 2025-09-25 07:43:00-07:00
                       7156    0.0               0 2025-09-25 07:43:00-07:00
           08:08       7156    0.4              20 2025-09-25 08:08:00-07:00

## Summary by day

In [5]:
day_totals = df.groupby('day').agg({c:'sum' for c in ['distance','break_minutes','hours','aeg','ael']})
day_totals.round(1)

     distance  break_minutes  hours   aeg   ael
day
1         9.5             30    6.2   606 -5315
2         8.6             45    6.3  2275 -2371
3         6.7              0    6.2  4841  -272

## Distance per segment (miles)

In [6]:
pivot_df = df.pivot_table(index='day', columns=['segment'], aggfunc='sum', values='distance')
pivot_df.round(1)

segment  TH to Car  Tanner  d-1b  d-2a  d-3
day
1              NaN     6.9   2.6   NaN  NaN
2              NaN     NaN   NaN   8.6  NaN
3              1.3     NaN   NaN   NaN  5.5