<h2 style="text-align: center;">Quick start with MOEXALGO</h2>

<b>Доступные данные</b>

<ul>
    <li>Marketdata</li>
        <ul>
            <li>Список инструментов и их параметры</li>
            <li>Торговая статистика за сегодня</li>
            <li>Candles</li>
            <li>Orderbook</li>
            <li>Trades</li>
        </ul>
    <li>SuperCandles - <i>расширенные 5 мин. свечи</i></li>
        <ul>
            <li>Trade stats</li>
            <li>Order stats</li>
            <li>Orderbook stats</li>
        </ul>
    <li>HI2 - <i>индекс рыночной концентрации</i></li>
    <li>MegaAlerts - <i>уведомления об аномальных событиях</i></li>
    <li>FUTOI - <i>открытые позиции по фьючерсам в разрезе физических и юридических лиц</i></li>
</ul>

### Авторизация

Для доступа к данным необходимо оформить подписку на https://data.moex.com/products/algopack и получить токен в личном кабинете

In [10]:
from moexalgo import Market, Ticker, session
session.TOKEN = 'eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiS...lM_-n_l1LsSRX55A'

### Marketdata

https://moexalgo.github.io/des/realtime/

In [37]:
stocks = Market('EQ') # FO - фьючерсы, FX - валюта 

# список акций на сегодня
stocks.tickers().head()

,ticker,shortname,lotsize,decimals,minstep,issuesize,isin,regnumber,listlevel
0,ABIO,iАРТГЕН ао,10,2,0.020,92645451,RU000A0JNAB6,1-01-08902-A,2
1,ABRD,АбрауДюрсо,10,1,0.200,98000184,RU000A0JS5T7,1-02-12500-A,3
2,ACKO,АСКО ао,100,2,0.020,536000000,RU000A0JXS91,1-01-52065-Z,3
3,AFKS,Система ао,100,3,0.001,9650000000,RU000A0DQZE3,1-05-01669-A,1
4,AFLT,Аэрофлот,10,2,0.010,3975771215,RU0009062285,1-01-00010-A,1

In [15]:
# торговая статистика за сегодня
stocks.marketdata().head()

,ticker,bid,offer,biddeptht,offerdeptht,open,low,high,last,waprice,...,numtrades,voltoday,valtoday,valtoday_usd,updatetime,openperiodprice,systime,closingauctionprice,closingauctionvolume,issuecapitalization
0,ABIO,90.160,90.180,14946,27969,90.300,89.600,90.760,90.140,90.280,...,2351,355740,32117553,327688,19:02:17,90.300,2025-01-30 19:02:17,90.020,0.0,8.351061e+09
1,ABRD,NaN,NaN,0,0,191.000,190.200,193.000,192.200,191.600,...,493,39520,7574260,77278,19:00:31,191.000,2025-01-30 19:01:17,192.000,0.0,1.883564e+10
2,ACKO,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,19:00:31,NaN,2025-01-30 19:01:17,NaN,NaN,1.918880e+09
3,AFKS,14.924,14.924,122563,206208,15.017,14.787,15.485,14.924,14.996,...,44612,173489700,2601840615,26545981,19:02:38,15.017,2025-01-30 19:02:39,14.924,8400.0,1.440166e+11
4,AFLT,64.230,62.190,721178,548369,62.180,61.700,64.410,64.220,63.250,...,106270,102126470,6459061700,65900320,19:02:44,62.180,2025-01-30 19:02:44,64.220,56440.0,2.553240e+11

In [33]:
sber = Ticker('SBER')

# свечки, periods: '1min', '10min', '1h', '1d', '1w', '1m'
sber.candles(start='2025-01-01', end='2025-01-30', period='1d').head()

,open,close,high,low,value,volume,begin,end
0,280.00,272.25,280.41,271.80,1.185357e+10,43086870.0,2025-01-03,2025-01-03 23:59:59
1,270.88,274.37,274.41,270.07,7.737094e+09,28454750.0,2025-01-06,2025-01-06 23:59:59
2,273.07,277.00,277.87,273.07,7.356165e+09,26634660.0,2025-01-08,2025-01-08 23:59:59
3,276.71,271.80,278.77,270.73,1.449133e+10,52952880.0,2025-01-09,2025-01-09 23:59:59
4,272.31,278.77,279.53,270.27,1.962313e+10,71154220.0,2025-01-10,2025-01-10 23:59:59

In [35]:
# стакан котировок
sber.orderbook().head()

  boardid secid buysell   price  quantity          seqnum updatetime  decimals
0    TQBR  SBER       B  282.01      1486  20250130192136   19:21:35         2
1    TQBR  SBER       B  282.02       636  20250130192136   19:21:35         2
2    TQBR  SBER       B  282.03       546  20250130192136   19:21:35         2
3    TQBR  SBER       B  282.04       363  20250130192136   19:21:35         2
4    TQBR  SBER       B  282.05       171  20250130192136   19:21:35         2

In [36]:
# сделки за сегодня
sber.trades().head()

,tradeno,tradetime,boardid,secid,price,quantity,value,period,tradetime_grp,systime,buysell,decimals,tradingsession
0,12184121113,06:59:59,TQBR,SBER,280.44,1,2804.4,S,659,2025-01-30 07:00:00,S,2,0
1,12184121114,06:59:59,TQBR,SBER,280.44,5,14022.0,S,659,2025-01-30 07:00:00,S,2,0
2,12184121115,06:59:59,TQBR,SBER,280.44,1,2804.4,S,659,2025-01-30 07:00:00,S,2,0
3,12184121116,06:59:59,TQBR,SBER,280.44,8,22435.2,S,659,2025-01-30 07:00:00,B,2,0
4,12184121117,06:59:59,TQBR,SBER,280.44,1,2804.4,S,659,2025-01-30 07:00:00,B,2,0

### SuperCandles

https://moexalgo.github.io/des/supercandles/

In [39]:
# статистика по сделкам
sber.tradestats(start='2025-01-25', end='2025-01-30').head()

,ticker,tradedate,tradetime,pr_open,pr_high,pr_low,pr_close,pr_std,vol,val,...,vol_b,vol_s,disb,pr_vwap_b,pr_vwap_s,systime,sec_pr_open,sec_pr_high,sec_pr_low,sec_pr_close
0,SBER,2025-01-27,07:05:00,280.72,280.97,280.10,280.50,0.0011,5040,14141111.0,...,2848,2192,0.13,280.75,280.35,2025-01-27 07:05:10,1,2,2,297
1,SBER,2025-01-27,07:10:00,280.65,280.86,280.51,280.85,0.0003,1695,4758418.0,...,1436,259,0.69,280.76,280.61,2025-01-27 07:10:10,5,276,6,296
2,SBER,2025-01-27,07:15:00,280.69,280.87,280.67,280.78,0.0002,4960,13927088.0,...,3460,1500,0.40,280.83,280.70,2025-01-27 07:15:10,4,74,4,300
3,SBER,2025-01-27,07:20:00,280.83,280.88,280.70,280.79,0.0002,2561,7192826.0,...,2256,305,0.76,280.88,280.75,2025-01-27 07:20:10,9,270,125,294
4,SBER,2025-01-27,07:25:00,280.86,280.88,280.70,280.85,0.0003,374,1050374.0,...,288,86,0.54,280.87,280.76,2025-01-27 07:25:10,10,23,45,274

In [24]:
# статистика по заявкам
sber.orderstats(start='2025-01-25', end='2025-01-30').head()

,ticker,tradedate,tradetime,put_orders_b,put_orders_s,put_val_b,put_val_s,put_vol_b,put_vol_s,put_vwap_b,...,cancel_val_b,cancel_val_s,cancel_vol_b,cancel_vol_s,cancel_vwap_b,cancel_vwap_s,cancel_vol,cancel_val,cancel_orders,systime
0,SBER,2025-01-27,07:05:00,1398,1525,4.763832e+08,508035129.0,172643,182396,275.94,...,4.413183e+08,510153418.0,158280,181281,278.82,281.42,339561,9.514718e+08,2119,2025-01-27 07:05:14
1,SBER,2025-01-27,07:10:00,988,838,6.186097e+08,595306356.0,221602,211854,279.15,...,5.875955e+08,565952453.0,209784,201339,280.10,281.09,411123,1.153548e+09,1605,2025-01-27 07:10:14
2,SBER,2025-01-27,07:15:00,5602,443,2.379043e+09,302691292.0,852084,108994,279.20,...,2.358738e+09,287368449.0,841398,102203,280.34,281.17,943601,2.646106e+09,5875,2025-01-27 07:15:14
3,SBER,2025-01-27,07:20:00,602,578,3.762210e+08,358662648.0,134241,127586,280.26,...,3.806568e+08,355535802.0,135730,126433,280.45,281.20,262163,7.361926e+08,1057,2025-01-27 07:20:14
4,SBER,2025-01-27,07:25:00,2701,483,1.303916e+09,326333644.0,465426,116104,280.16,...,1.301550e+09,321119353.0,464309,114196,280.32,281.20,578505,1.622670e+09,3083,2025-01-27 07:25:14

In [25]:
# статистика по стакану
sber.obstats(start='2025-01-25', end='2025-01-30').head()

,ticker,tradedate,tradetime,spread_bbo,spread_lv10,spread_1mio,levels_b,levels_s,vol_b,vol_s,...,val_s,imbalance_vol_bbo,imbalance_val_bbo,imbalance_vol,imbalance_val,vwap_b,vwap_s,vwap_b_1mio,vwap_s_1mio,systime
0,SBER,2025-01-27,07:05:00,4.9,24.0,13.6,660,530,210710,176960,...,507415389,-0.37,-0.37,0.09,0.06,270.97,286.74,280.36,280.74,2025-01-27 07:05:14
1,SBER,2025-01-27,07:10:00,4.9,16.9,10.8,672,541,213015,180593,...,517786344,-0.18,-0.18,0.08,0.06,271.79,286.71,280.49,280.80,2025-01-27 07:10:14
2,SBER,2025-01-27,07:15:00,3.0,13.3,6.0,681,552,222523,185611,...,532159535,-0.25,-0.25,0.09,0.06,272.15,286.71,280.69,280.85,2025-01-27 07:15:14
3,SBER,2025-01-27,07:20:00,2.6,14.4,6.5,682,560,223530,188227,...,539799354,-0.32,-0.32,0.09,0.06,272.15,286.78,280.69,280.87,2025-01-27 07:20:14
4,SBER,2025-01-27,07:25:00,4.3,15.8,9.6,683,562,221329,189478,...,543355506,-0.16,-0.16,0.08,0.05,272.05,286.76,280.64,280.91,2025-01-27 07:25:14

###  HI2

https://moexalgo.github.io/des/hi2/

In [26]:
sber.hi2(start='2025-01-01', end='2025-03-01').head()

,ticker,tradedate,tradetime,metric,value,reference,systime
0,SBER,2025-01-03,18:40:00,hhi_agressive,66.0,None,2025-01-03 18:45:17
1,SBER,2025-01-03,18:40:00,hhi_agressive_buy,64.0,None,2025-01-03 18:45:17
2,SBER,2025-01-03,18:40:00,hhi_agressive_sell,85.0,None,2025-01-03 18:45:17
3,SBER,2025-01-03,18:40:00,hhi_buy,91.0,None,2025-01-03 18:45:17
4,SBER,2025-01-03,18:40:00,hhi_netflow_buy,56.0,None,2025-01-03 18:45:17

### MegaAlerts

https://moexalgo.github.io/modules/megaalerts/

In [28]:
sber.alerts(start='2025-01-01', end='2025-03-01').head()

,ticker,tradedate,tradetime,alert_type,threshold,value,reference,systime
0,SBER,2025-01-03,10:00:00,pr_high_max,279.4900,280.0000,"[{""m_5"":[""0.129"",""-0.206"",""23"",""9"",""0.034""],""m...",2025-01-03 10:01:06
1,SBER,2025-01-03,10:02:00,pr_high_max,280.0000,280.4100,"[{""m_5"":[""0.129"",""-0.206"",""23"",""9"",""0.033""],""m...",2025-01-03 10:03:04
2,SBER,2025-01-10,10:00:00,pr_change_99_9_pctl+,0.4282,0.4994,"[{""m_5"":[""0.274"",""-0.235"",""26"",""31"",""-0.003""],...",2025-01-10 10:01:06
3,SBER,2025-01-10,11:15:00,pr_change_99_9_pctl-,-0.3769,-0.4107,"[{""m_5"":[""0.253"",""-0.202"",""28"",""21"",""0.058""],""...",2025-01-10 11:16:04
4,SBER,2025-01-10,13:11:00,pr_change_99_9_pctl+,0.4323,0.4516,"[{""m_5"":[""0.274"",""-0.235"",""26"",""32"",""-0.007""],...",2025-01-10 13:12:04

### FUTOI

https://moexalgo.github.io/des/futoi/

In [29]:
Si = Ticker('SiH5')

Futures('SiH5/RFUD')

In [32]:
Si.futoi(start='2025-01-30', end='2025-01-30').head()

,sess_id,seqnum,tradedate,tradetime,ticker,clgroup,pos,pos_long,pos_short,pos_long_num,pos_short_num,systime
0,7236,2,2025-01-30,19:10:00,Si,YUR,-322211,3135433,-3457644,254,165,2025-01-30 19:10:07
1,7236,2,2025-01-30,19:10:00,Si,FIZ,322211,468336,-146125,9217,4048,2025-01-30 19:10:07
2,7236,1,2025-01-30,19:05:00,Si,YUR,-322178,3135209,-3457387,253,165,2025-01-30 19:05:07
3,7236,1,2025-01-30,19:05:00,Si,FIZ,322178,467877,-145699,9207,4065,2025-01-30 19:05:07
4,7235,175,2025-01-30,18:45:00,Si,YUR,-324908,3133049,-3457957,252,167,2025-01-30 18:45:06